<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="anotherstyle.css" ) }}"> #url_for is used to automatically detect the static folder
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas hic cumque dignissimos perferendis perspiciatis dolorum qui repudiandae sunt. Eius consequatur consequuntur delectus incidunt ducimus ipsam ad provident laboriosam odio excepturi, veritatis totam doloremque ratione praesentium hic deleniti? Iusto distinctio non officia esse dolorem quod est modi doloremque, quidem corporis officiis ipsum nisi fugiat pariatur provident, labore in ducimus dolor omnis ex consectetur dolores vitae. Nisi officiis, accusamus laborum quis eaque, enim minima nostrum nam recusandae saepe dolores, consequatur voluptate praesentium quia. Fugiat quas voluptatem saepe, enim cupiditate eveniet unde debitis fuga eum veritatis voluptates ipsa repellat! Quae possimus ullam ex consequatur eum explicabo ad fuga dolores, officia beatae quia, cumque velit dicta molestiae voluptatem amet debitis in. Odio, similique deserunt.
</body>
</html>